.hero {
  position: relative;
  height: 100vh;
  height: 1080px;
  min-height: 700px;
  background-color: #ccc;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
  }
  &__container {
    position: relative;
    height: 100%;
  }
  &__title {
    font-size: 72px;
    font-weight: 700;
    max-width: 560px;
    margin-bottom: 40px;
  }
  &__description {
    font-size: 18px;
  }
  &__image {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 90%;
  }
  &__content {
    padding: 0 260px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
  }
  &__pagination {
    & .swiper-pagination-bullet {
      width: 6px;
      height: 6px;
      background-color: #fff;
      opacity: 1;
      &-active {
        background-color: #000;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 20px;
          height: 20px;
          background-color: #fff;
          border-radius: 50%;
          z-index: -1;
        }
      }
    }
  }
}
