.marketing {
  position: absolute;
  bottom: 50px;
  left: 40px;
  background-color: #fff;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 10px;
  width: 280px;
  z-index: 10;
  transform: translateX(-150vw);
  transition: transform 0.1s;
  opacity: 0;
  &--visible {
    transform: translateX(0);
    opacity: 1;
  }
  &__text {
    margin-left: 10px;
  }
  &__description {
    display: block;
    color: #858585;
    font-size: 11px;
    margin-bottom: 5px;
  }
  &__when-from {
    display: block;
    color: #858585;
    font-size: 11px;
    padding-right: 40px;
  }
  &__title {
    font-size: 15px;
    margin-bottom: 7px;
    padding-right: 20px;
    min-height: 34px;
  }
  &__image {
    flex-shrink: 0;
  }
  &__close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 10px;
    height: 10px;
    background-image: url("img/close.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
