    <div class="banner-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="hero__content">
            <h2 class="hero__title">Fall-Winter Clearance Sales</h2>
            <p class="hero__description">
              All Sale Items are Final Sale / Free Shipping on All Orders
            </p>
            <img
              src="img/girl.png"
              alt="Girl"
              class="hero__image"
              aria-hidden="true"
            />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="hero__content">
            <h2 class="hero__title">Fall-Winter Clearance Sales</h2>
            <p class="hero__description">
              All Sale Items are Final Sale / Free Shipping on All Orders
            </p>
            <img
              src="img/girl.png"
              alt="Girl"
              class="hero__image"
              aria-hidden="true"
            />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="hero__content">
            <h2 class="hero__title">Fall-Winter Clearance Sales</h2>
            <p class="hero__description">
              All Sale Items are Final Sale / Free Shipping on All Orders
            </p>
            <img
              src="img/girl.png"
              alt="Girl"
              class="hero__image"
              aria-hidden="true"
            />
          </div>
        </div>
      </div>
      <div class="swiper-pagination hero__pagination"></div>
    </div>