$gap: 20px;

.main-products {
  &__container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &__nav {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  &__btn {
    font-size: 24px;
    &--current {
      &:before {
        opacity: 1;
        transition: opacity 0.15s;

        //md
        @media (max-width: (1200px)) {
          opacity: 0;
        }
      }
    }
  }
  &__item {
    & + .main-products__item {
      margin-left: 20px;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__sold-item {
    width: calc((100% - ($gap * 4)) / 5);
    margin-bottom: 70px;
    &:not(:nth-child(5n)) {
      margin-right: $gap;
    }
    &:nth-last-child(-n + 5) {
      margin-bottom: 0;
    }
  }
  &__btn-center {
    text-align: center;
  }
  &__more {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    color: #858585;
    font-weight: 500;
    font-size: 13px;
    margin-top: 50px;
    & img {
      width: 12px;
      height: 21px;
      color: #151515;
    }
    & span {
      display: inline-block;
      margin-bottom: 20px;
    }
  }
}
