<div class="catalog-grid">
  <div class="catalog-grid__props catalog-props">
    <div class="catalog-props__top">
      <div class="catalog-props__columns catalog-columns">
        <span class="catalog-columns__text">Column Number:</span>
        <ul class="catalog-columns__list">
          <li class="catalog-columns__item">
            <button
              class="btn-reset catalog-columns__btn main-link"
              data-columns="3"
            >
              3
            </button>
          </li>
          <li class="catalog-columns__item">
            <button
              class="btn-reset catalog-columns__btn main-link catalog-columns__btn--current"
              data-columns="4"
            >
              4
            </button>
          </li>
          <li class="catalog-columns__item">
            <button
              class="btn-reset catalog-columns__btn main-link"
              data-columns="5"
            >
              5
            </button>
          </li>
        </ul>
      </div>
      <div class="custom-select">
        <div class="custom-select__top">Sort by Latest</div>
        <div class="custom-select__dropdown">
          <ul class="custom-select__list">
            <li class="custom-select__item">Sort by Latest</li>
            <li class="custom-select__item">Sort by Price</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="catalog-props__choice catalog-choice">
      <button class="btn-reset catalog-choice__clear">Clear All</button>
    </div>
  </div>
  <ul class="catalog-grid__content" data-grid-columns="4">
    <li class="catalog-grid__item">
      <article class="product">
        <div class="product__image">
          <img src="img/prod-1.jpg" alt="prod 1" />
        </div>
        <h3 class="product__title">
          <a href="#">Eye Mesh Boat Shoes</a>
        </h3>
        <span class="product__price">$220</span>
      </article>
    </li>
    <li class="catalog-grid__item">
      <article class="product">
        <div class="product__image">
          <img src="img/prod-2.jpg" alt="prod 1" />
        </div>
        <h3 class="product__title">
          <a href="#">Eye Mesh Boat Shoes</a>
        </h3>
        <span class="product__price">$220</span>
      </article>
    </li>
    <li class="catalog-grid__item">
      <article class="product">
        <div class="product__image">
          <img src="img/prod-3.jpg" alt="prod 1" />
        </div>
        <h3 class="product__title">
          <a href="#">Eye Mesh Boat Shoes</a>
        </h3>
        <span class="product__price">$220</span>
      </article>
    </li>
    <li class="catalog-grid__item">
      <article class="product">
        <div class="product__image">
          <img src="img/prod-4.jpg" alt="prod 1" />
        </div>
        <h3 class="product__title">
          <a href="#">Eye Mesh Boat Shoes</a>
        </h3>
        <span class="product__price">$220</span>
      </article>
    </li>
    <li class="catalog-grid__item">
      <article class="product">
        <div class="product__image">
          <img src="img/prod-5.jpg" alt="prod 1" />
        </div>
        <h3 class="product__title">
          <a href="#">Eye Mesh Boat Shoes</a>
        </h3>
        <span class="product__price">$220</span>
      </article>
    </li>
  </ul>
</div>
