.shop-banners {
  &__container {
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  &__banner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 130px 20px;
    background-color: #000;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(#d70808, 0.1);
    }
    &--men {
      background-image: url("img/banner-1.jpg");
    }
    &--women {
      background-image: url("img/banner-2.jpg");
    }
  }
  &__title {
    position: relative;
    z-index: 1;
    font-size: 48px;
    font-weight: 500;
  }
  &__text {
    position: relative;
    z-index: 1;
  }
}
