<header class="footer">
  <div class="container footer__container">
    <div class="footer__content">
      <div class="footer__top">
        <div class="footer__column">
          <h3 class="footer__title">Customer Service</h3>
          <ul class="footer__list">
            <li class="footer__item">
              <a href="tel:+7960723577" class="footer__link"
                >Phone: +7-996-072-35-77</a
              >
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">Live Chat</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">About Us</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">Terms and Condition</a>
            </li>
          </ul>
        </div>
        <div class="footer__column">
          <h3 class="footer__title">Company</h3>
          <ul class="footer__list">
            <li class="footer__item">
              <a href="#" class="footer__link">What we do</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">Available Services</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">Latest Posts</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">FAQs</a>
            </li>
          </ul>
        </div>
        <div class="footer__column">
          <h3 class="footer__title">Our Newsletter</h3>
          <form action="" class="footer__form">
            <h4 class="footer__form--title">
              Join our list and get 15% off your first purchase!
            </h4>
            <label class="footer__form--field"
              ><input type="email" name="email" placeholder="Email Address" />
            </label>
            <button class="footer__form--btn btn-reset" type="submit">
              Subscribe
            </button>
          </form>
          <span class="footer__text">*Don't worry we don't spam</span>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="footer__left">
          <ul class="footer__list footer__list--row">
            <li class="footer__item">
              <a href="#" class="footer__link footer__link--row">Returns Policy</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link footer__link--row">Privacy Policy</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link footer__link--row">Safety</a>
            </li>
          </ul>
        </div>
        <div class="footer__right">
          <ul class="social">
            <li class="social__item">
              <a
                href="#"
                class="social__link social__link--twitter"
                aria-label="Go to twitter"
              ></a>
            </li>
            <li class="social__item">
              <a
                href="#"
                class="social__link social__link--facebook"
                aria-label="Go to facebook"
              ></a>
            </li>
            <li class="social__item">
              <a
                href="#"
                class="social__link social__link--instagram"
                aria-label="Go to instagram"
              ></a>
            </li>
            <li class="social__item">
              <a
                href="#"
                class="social__link social__link--pinterest"
                aria-label="Go to pinterest"
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
