<section class="shop-banners">
  <h2 class="visually-hidden">Banners</h2>
  <div class="shop-banners__container">
    <a href="" class="shop-banners__banner shop-banners__banner--men">
      <h3 class="shop-banners__title">Men's Sportswear</h3>
      <span class="shop-banners__text main-link main-link--white">Read More</span>
    </a>
    <a href="" class="shop-banners__banner shop-banners__banner--women">
      <h3 class="shop-banners__title">Find your fit</h3>
      <span class="shop-banners__text main-link main-link--white">Read More</span>
    </a>
  </div>
</section>
