$burger-width: 25px;
$burger-height: 18px;
$burger-line-height: 2px;

.burger {
  width: $burger-width;
  height: $burger-height;
  position: relative;
  display: none;
  color: #05b448;
  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: $burger-line-height;
    background-color: currentColor;
    transition: transform 0.3s ease-in-out;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: $burger-line-height;
    background-color: currentColor;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  &::before {
    top: 0;
  }

  &::after {
    top: calc(100% - $burger-line-height);
  }

  &--active {
    & .burger__line {
      transform: scale(0);
      transition: transform 0.3s ease-in-out;
    }

    &::before {
      transform: rotate(45deg);
      top: 50%;
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    &::after {
      transform: rotate(-45deg);
      top: 50%;
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }
  }

  //md
  @media (max-width: (1200px)) {
    display: block;
  }
}
