.header {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 36px;
    padding-bottom: 36px;

    //xs
    @media (max-width: (576px)) {
      padding: 20px 15px;
    }
  }
}
