.logo {
  display: inline-block;
  width: 117px;
  height: 22px;
  & img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: (576px)) {
    width: 90px;
    height: 18px;
  }
}
