.footer {
  &__content {
    padding: 0 250px;
    padding-top: 100px;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
  }
  &__title {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &__link {
    color: #454545;
    font-size: 13px;
    &--row {
      font-weight: 700;
      color: #000;
    }
  }
  &__item {
    & + .footer__item {
      margin-top: 10px;
    }
  }
  &__form {
    transform: translateY(5px);
    width: 650px;
    margin-bottom: 25px;
    position: relative;
    &--title {
      color: #454545;
      font-size: 13px;
      font-weight: 500;
      margin-bottom: 30px;
    }
    &--field {
      display: block;
      width: 100%;
      border-bottom: 2px solid #000;
      padding-bottom: 10px;
      & input {
        width: 100%;
        border: none;
        font-weight: 500;
        font-size: 13px;
        color: #000;
        padding-right: 80px;
        &::placeholder {
          color: rgba(#454545, 0.5);
        }
      }
    }
    &--btn {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 2;
      color: #000;
      font-weight: 500;
      font-size: 13px;
      padding: 17px 10px;
    }
  }
  &__column {
    &:nth-child(2) {
      margin-left: -10px;
    }
  }
  &__text {
    color: #454545;
    font-weight: 500;
    font-size: 13px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #eee;
    padding: 40px 0;
  }
  &__list {
    &--row {
      display: flex;
      align-items: center;
      & .footer__item {
        margin-top: 0;
        & + .footer__item {
          margin-left: 20px;
        }
      }
    }
  }
  & .social {
    display: flex;
    align-items: center;
    &__item {
      & + .social__item {
        margin-left: 15px;
      }
    }
    &__link {
      display: block;
      width: 16px;
      height: 16px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      &--twitter {
        background-image: url("img/tw.png");
      }
      &--facebook {
        background-image: url("img/fb.png");
      }
      &--instagram {
        background-image: url("img/in.png");
      }
      &--pinterest {
        background-image: url("img/pin.png");
      }
    }
  }
}
