$gap: 15px;

.catalog-grid {
  width: 987px;
  padding-top: 30px;
  & .catalog-props {
    margin-bottom: 20px;
    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      & .catalog-columns {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 10px;
        text-transform: uppercase;
        &__text {
          margin-right: 10px;
        }
        &__list {
          display: flex;
          align-items: center;
        }
        &__item {
          & + .catalog-columns__item {
            margin-left: 5px;
          }
        }
        &__btn {
          font-size: 10px;
          color: #858585;
          padding: 5px;
          &:hover {
            color: #000;
          }
          &--current {
            color: #000;
            &:before {
              opacity: 1;
            }
          }
        }
      }
    }
    & .catalog-choice {
      font-size: 0;
      display: none;
      &__item {
        color: #454545;
        font-weight: 500;
        font-size: 13px;
        background-color: #eee;
        border-radius: 12px;
        padding: 5px 12px;
        transition: background-color 0.3s, color 0.3s;
        margin-right: 5px;
        margin-bottom: 5px;
        & svg {
          width: 8px;
          height: 9px;
          margin-left: 5px;
          fill: currentColor;
          pointer-events: none;
        }
        &:hover {
          color: #fff;
          background-color: #000;
          transition: background-color 0.3s, color 0.3s;
        }
      }
      &__clear {
        position: relative;
        font-weight: 500;
        font-size: 13px;
        &:before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 2px;
          background-color: currentColor;
          opacity: 1;
        }
      }
    }
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
  }
  & [data-grid-columns="3"] {
    .catalog-grid__item {
      width: calc((100% - ($gap * 2)) / 3);
      margin-bottom: 70px;
      &:not(:nth-child(3n)) {
        margin-right: $gap;
      }
      &:nth-last-child(-n + 3) {
        margin-bottom: 0;
      }
    }
  }
  & [data-grid-columns="4"] {
    .catalog-grid__item {
      width: calc((100% - ($gap * 3)) / 4);
      margin-bottom: 70px;
      &:not(:nth-child(4n)) {
        margin-right: $gap;
      }
      &:nth-last-child(-n + 4) {
        margin-bottom: 0;
      }
    }
  }
  & [data-grid-columns="5"] {
    .catalog-grid__item {
      width: calc((100% - ($gap * 4)) / 5);
      margin-bottom: 70px;
      &:not(:nth-child(5n)) {
        margin-right: $gap;
      }
      &:nth-last-child(-n + 5) {
        margin-bottom: 0;
      }
    }
  }
}
