.catalog-filters {
  width: 309px;
  padding-right: 66px;
  margin-right: 30px;
  &__hide {
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    background-image: url("img/cross.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 24px;
    margin-bottom: 10px;
  }
  & .catalog-filter {
    border-top: 1px solid #eee;
    padding-top: 30px;
    &--top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 20px;
      padding-bottom: 20px;
      cursor: pointer;
      user-select: none;
    }
    &__caption {
      display: flex;
      align-items: center;
    }
    &--title {
      display: inline-block;
      font-weight: 700;
      font-size: 13px;
      text-transform: uppercase;
    }
    &--quantity {
      transform: translateY(-1px);
    }
    &--toggle {
      width: 12px;
      height: 12px;
      position: relative;
      color: #aaa;
      &:before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        height: 100%;
        width: 2px;
        background-color: currentColor;
      }
      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 2px;
        background-color: currentColor;
      }
    }
    &--categories {
      columns: 2;
    }
    &--item {
      margin-bottom: 15px;
      &:nth-child(5n) {
        margin-bottom: 0;
      }
    }
    &--bottom {
      display: none;
    }
    &:last-child {
      border-bottom: 1px solid #eee;
    }
    &--open {
      .catalog-filter--bottom {
        display: block;
      }
      .catalog-filter--toggle {
        &:before {
          display: none;
        }
      }
    }
  }
}

.catalog-content {
  min-height: 500px;
  & .container{
    display: flex;
  }
}
