.custom-select {
  position: relative;
  min-width: 115px;
  &__dropdown {
    display: none;
    position: absolute;
    top: calc(100% + 2px);
    z-index: 20;
    background-color: #fff;
    width: 100%;
    padding: 10px;
  }
  &__item {
    font-size: 10px;
    & .custom-select__item {
      margin-top: 10px;
    }
  }
  &__top {
    position: relative;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    border-bottom: 1px solid #e5e5e7;
    padding-bottom: 5px;
    padding-right: 35px;
    cursor: pointer;
    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      width: 10px;
      height: 6px;
      margin-top: -3px;
      transform: translateY(-50%);
      background-image: url("img/angle-down.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  &--open {
    & .custom-select__top {
      &:after {
        transform: translateY(-50%) rotate(180deg);
      }
    }
    & .custom-select__dropdown {
      display: block;
    }
  }
}
