.hero-catalog {
  padding-top: 130px;
  &__slider {
    background-color: #f8f8f8;
    overflow: hidden;
    width: 100%;
  }
  & .catalog-slide {
    padding: 110px 108px;
    &__title {
      max-width: 379px;
      font-weight: 700;
      font-size: 36px;
      margin-bottom: 20px;
    }
    &__description {
      max-width: 393px;
      color: #454545;
      font-size: 15px;
      line-height: 28px;
      margin-bottom: 30px;
    }
    &__link {
      display: inline-block;
      font-size: 13px;
      padding: 15px 45px;
      &--dark {
        color: #fff;
        background-color: #000;
        border: 1px solid #000;
      }
      &--light {
        color: #000;
        background-color: transparent;
        border: 1px solid #000;
      }
      & + .catalog-slide__link {
        margin-left: 15px;
      }
    }
    &__btns {
      display: flex;
      align-items: center;
    }
  }
}
