.hero-catalog {
  padding-top: 130px;
  &__slider {
    position: relative;
    background-color: #f8f8f8;
    overflow: hidden;
    width: 100%;
  }
  &__next-btn,
  &__prev-btn {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border: 2px solid #151515;
    z-index: 20;
    color: #000;
    transition: background-color 0.3s;
    & svg {
      width: 40px;
      height: 20px;
      fill: currentColor;
      transition: fill 0.3s;
    }
    &:hover {
      background-color: #000;
      transition: background-color 0.3s;
      & svg {
        fill: #fff;
        transition: fill 0.3s;
      }
    }
  }

  &__next-btn {
    left: auto;
    right: 30px;
  }
  & .catalog-slide {
    padding: 110px 108px;
    &__title {
      max-width: 379px;
      font-weight: 700;
      font-size: 36px;
      margin-bottom: 20px;
    }
    &__description {
      max-width: 393px;
      color: #454545;
      font-size: 15px;
      line-height: 28px;
      margin-bottom: 30px;
    }
    &__link {
      display: inline-block;
      font-size: 13px;
      padding: 15px 45px;
      &--dark {
        color: #fff;
        background-color: #000;
        border: 1px solid #000;
      }
      &--light {
        color: #000;
        background-color: transparent;
        border: 1px solid #000;
      }
      & + .catalog-slide__link {
        margin-left: 15px;
      }
    }
    &__btns {
      display: flex;
      align-items: center;
    }
    &__image {
      position: absolute;
      right: 19%;
      bottom: 0;
    }
  }
}
